body{
	background: yellow;
}
p {
	font-size: 1em;
	font-family: Arial;
}

#Banner{
	letter-spacing: 3px;
	border: dashed 5px;
	text-align: center;
	margin: auto 0;
	margin-left: 200px;
	display: inline-block;
	width: 50%;
	padding: 0 auto;
	vertical-align: center;

}

#headerimg{
	width: 100%;
	display: inline-block;
	margin: 0 auto;

}


